*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image: url(../img/fondo6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navegador nav{
    background-color: cornflowerblue;
}

.titulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
  }

   /*DISEÑO NAVEGADOR DE TABLA*/
.nav-tabs .nav-link {
  color: white; /* Color por defecto cuando no está seleccionado */
}

.nav-tabs .nav-link.active {
  color: black; /* Color cuando está seleccionado */
}

/*DISEÑO TABLA*/

.conten-container{
  background-color: #ffff;
  padding: 20px;
  min-height: calc(100vh - 40px);

}

  table.documentacion {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }

  table.documentacion th {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    
  }

  table.documentacion td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    font-weight: bold;
  }

button{

    padding: 8px 7px;
    border: none;
    border-radius: 5px;
}

  .crud-buttons{
    margin-top: 10px;
    text-align: right;
  }

  .editarBtn {
    background-color: green;
    color: #ffff;
  }

  .eliminarBtn{
    background-color: red;
    color: #ffff;
  }

  .agregarBtn {
    margin-right: 10px;
    background-color: #6a92f7;
    color: #ffff;
  }

/*TABLAS*/

#table-empleados,
#table-pacientes {

  display: none;
}
