<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medicos</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="medicos.css">
</head>

<body>

  <div class="navegador">
    <nav class="navbar navbar-expand-lg bg-body-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="menu.html" style="color: white;"><b>MAPRIFOR</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="medicos.html"><b>Medicos</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="empleados.html"><b>Empleados</b></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <b>Opciones</b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="citas.html">Citas</a></li>
                <li><a class="dropdown-item" href="vacaciones.html">Vacaciones</a></li>
                <li><a class="dropdown-item" href="sustituciones.html">Sustituciones</a></li>
                <li><a class="dropdown-item" href="medicamentos.html">Medicamentos</a></li>
                <li><a class="dropdown-item" href="">Prescripciones</a></li>
                <li><a class="dropdown-item" href="">Documentación y Direccion</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pacientes.html"><b>Pacientes</b></a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit" style="color: white;">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </div>

  <h2 class="titulo">MEDICOS</h2>


  <div class="tabla">

    <table class="medico">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombres</th>
          <th>Apellido</th>
          <th>Sexo</th>
          <th>Fecha Nacimiento</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Tipo de Medico</th>
          <th>Especialidades</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Luana Magali</td>
          <td>Gon</td>
          <td>Femenino</td>
          <td>16/04/2003</td>
          <td>3704944825</td>
          <td>magali@gmail.com</td>
          <td>Titular</td>
          <td>General</td>
          <td style="white-space: nowrap;">
            <button class="editarBtn" onclick="">Editar</button>
            <button class="eliminarBtn" onclick="">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="crud-buttons">
      <button id="agregar" class="agregarBtn">Agregar</button>
    </div>
  </div>


  <div id="formularioContainer" class="formulario-container">
    <div class="formulario">
      <span id="cerrar" class="cerrar-formulario">&times;</span>
      <h2>Registrar Medico</h2>
      <form class="medico-form">

        <label for="">Nombres:</label>
        <input type="text" name="nombre" id="nombre">

        <label for="">Apellido:</label>
        <input type="text" name="apellido" id="apellido">

        <label for="">Sexo:</label>
        <input type="text" name="sexo" id="sexo">

        <label for="">Fecha Nacimiento:</label>
        <input type="text" name="fechaN" id="fechaN">

        <label for="">Telefono:</label>
        <input type="text" name="telefono" id="telefono">

        <label for="">Nro. Colegiado:</label>
        <input type="text" name="nroColegiado" id="nroColegiado">

        <label for="">Tipo de Medico:</label>
        <input type="text" name="tipo" id="tipo">

        <label for="">Especialidad:</label>
        <input type="text" name="especialidad" id="especialidad">

        <input type="submit" name="Registrar" id="guardar">
      </form>
    </div>

  </div>


  <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../functions/medicos.js"></script>
</body>

</html>